/**
 * BlankPlate | Yet another HTML5 Starter Kit
 *
 * BlankPlate Main stylesheet
 *
 * @copyright	Copyright 2012, Dimitris Krestos
 * @license		Apache License, Version 2.0 (http://www.opensource.org/licenses/apache2.0.php)
 * @link		http://vdw.staytuned.gr/html5-starter-kit-blankplate/
 * @package		BlankPlate
 * @version		v1.0.0
 */

/**
 * WORLD
 *
 * -------------------------------------------------------------------------------------------------
 */
 BODY {
	font-size: 13px; /* Override typography */
}

#wrapper {
	margin: 0 auto;
	max-width: 960px;
}

/**
 * BODY
 * Your content rules
 * -------------------------------------------------------------------------------------------------
 */
SECTION#body {
	float: left;
	width: 100%;
}

ARTICLE {}

.column { /* For the BareGrid system */
	background-color: #EEE;
	border: 1px solid #DDD;
	margin-bottom: 14px;
	text-align: center;
}

/**
 * FOOTER
 * Your footer rules
 * -------------------------------------------------------------------------------------------------
 */
FOOTER {
	padding: 1em 0 2em 0;
}