/**
 * BareGrid | A flexible grid system in less than 3 Kb uncompressed!
 *
 * BareGrid stylesheet
 *
 * BareGrid is a grid system based on percentages.
 *
 * Normally you don't have to make any changes in this file.
 * Your changes should be placed in styles.css file.
 *
 * @copyright	Copyright 2012, Dimitris Krestos
 * @license		Apache License, Version 2.0 (http://www.opensource.org/licenses/apache2.0.php)
 * @link		http://vdw.staytuned.gr/html5-starter-kit-blankplate/
 * @package		BlankPlate
 * @version		v1.0.0
 */

* {
	 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			 box-sizing: border-box;
}

/**
 * ROW
 *
 * -------------------------------------------------------------------------------------------------
 */
.row {
	display: block;
	width: 100%
}

.row.right > .column {
	float: right
}

/**
 * COLUMN
 *
 * -------------------------------------------------------------------------------------------------
 */
.column {
	display: block;
	float: left
}

/**
 * WIDTHS
 *
 * -------------------------------------------------------------------------------------------------
 */
.one > .column {
	width: 100.000%
}
.two > .column {
	width: 50.0000%
}
.three > .column {
	width: 33.3333%
}
.four > .column {
	width: 25.0000%
}
.five > .column {
	width: 20.0000%
}
.six > .column {
	width: 16.6666%
}
.seven > .column {
	width: 14.2857%
}
.eight > .column {
	width: 12.5000%
}
.nine > .column {
	width: 11.1111%
}
.ten > .column {
	width: 10.0000%
}
.eleven > .column {
	width: 09.0909%
}
.twelve > .column {
	width: 08.3333%
}

/**
 * OFFSETS
 *
 * -------------------------------------------------------------------------------------------------
 */
.column.second {
	margin-left: 08.3333%
}
.column.third {
	margin-left: 16.6666%
}
.column.fourth {
	margin-left: 24.9999%
}
.column.fifth {
	margin-left: 33.3332%
}
.column.sixth {
	margin-left: 41.6665%
}
.column.seventh {
	margin-left: 49.9998%
}
.column.eighth {
	margin-left: 58.3331%
}
.column.nineth {
	margin-left: 66.6664%
}
.column.tenth {
	margin-left: 74.9997%
}
.column.eleventh {
	margin-left: 83.3330%
}
.column.twelveth {
	margin-left: 91.6663%
}

/**
 * FILLS
 *
 * -------------------------------------------------------------------------------------------------
 */
.column.eleven {
	width: 91.6667%
}
.column.ten {
	width: 90.9091%
}
.column.nine {
	width: 90.0000%
}
.column.eight {
	width: 88.8889%
}
.column.seven {
	width: 87.5000%
}
.column.six {
	width: 85.7143%
}
.column.five {
	width: 83.3334%
}
.column.four {
	width: 80.0000%
}
.column.three {
	width: 75.0000%
}
.column.two {
	width: 66.6667%
}
.column.one {
	width: 50.0000%
}